* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: 'Inter', 'SF Pro Display', 'Segoe UI', 'Roboto', 'Arial', sans-serif;
  background: #f7f8fa;
  color: #232946;
}

#app {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
